
body {
    background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) );
    background-repeat: no-repeat;
}

.flex-row {
    flex: 1 1 auto;
}


details {
    padding: 5px;
    
}

details > summary {
    list-style-image: url("./img/icon-arrow-down.svg");
}

details[open] > summary {
    list-style-image: url("./img/icon-arrow-up.png");
}

summary {
    padding: 5px;    
}

hr {
    width: 91.66%;
}

.flex-container {
    margin: 20% auto 20% auto;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    background-color: white;
    background-image: url("./img/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }