html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
}

hr {
    width: 91.66%;
    margin-left: 0;
}

body {
    background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) );
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 12px;
}


h1 {
    font-weight: 700;
}


section {
    display: grid;
}

summary {
    padding: 5px;   
    
}

summary:hover {
    color: hsl(14, 88%, 65%);
}

footer { 
    font-size: 11px; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}

.accordion {
    cursor: pointer;
    padding: 5px;
    width: 91.66%;
    border: none;
    text-align: left;
    outline: none;
    background-color: inherit;
    transition: 0.4s;
  }
  
.accordion:hover {
    color:hsl(14, 88%, 65%);
  }

.active {
    font-weight: 700; 
}
  
.accordion:after {
    content: url("./img/icon-arrow-down.svg");
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: url("./img/icon-arrow-up.png");
  }
  

.img-container {
    content:url("./img/illustration-woman-online-mobile.svg");
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 10;
}

.flex-container {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 20% auto 20% auto;
    padding: 25% 0 20% 5%;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    background-color: white;
    background-image: url("./img/bg-pattern-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.flex-row {
    flex: 1 1 auto;
}

.panel {
    text-align: left;
    padding: 0 20% 0 1%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


